<section class="flex flex-col gap-6">
  <h1 class="font-bold text-2xl">Contact Form</h1>

  <form (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm" class="flex flex-col gap-6">

    <div class="flex flex-col gap-2">
      <label class="font-semibold" [class.text-red-500]="isInvalid(firstNameControl)" for="firstName">First Name<span>*</span></label>
      <input [(ngModel)]="firstName" class="ring-1 ring-gray-600 rounded hover:ring-green-900 hover:ring-2" type="text" name="firstName" id="firstName" required [appForbiddenName]="forbiddenName" #firstNameControl="ngModel">
      <div *ngIf="isInvalid(firstNameControl)" class="text-red-500">

        @if (firstNameControl.hasError('required')) {
          First name is mandatory.
        }

        @if (firstNameControl.hasError('forbiddenName')) {
          The name '{{ forbiddenName }}' is forbidden.
        }

      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label class="font-semibold" for="lastName">Last Name</label>
      <input [(ngModel)]="lastName" class="ring-1 ring-gray-600 rounded hover:ring-green-900 hover:ring-2" type="text" name="lastName" id="lastName">
    </div>

    <div class="flex flex-col gap-2">
      <label class="font-semibold" for="email" [class.text-red-500]="isInvalid(emailControl)">Email</label>
      <input [(ngModel)]="email" class="ring-1 ring-gray-600 rounded hover:ring-green-900 hover:ring-2" type="email" name="email" id="email" email #emailControl="ngModel">
      <div *ngIf="isInvalid(emailControl)" class="text-red-500">
        Wrong email entered.
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label class="font-semibold" for="description" [class.text-red-500]="isInvalid(descriptionControl)">Description<span>*</span></label>
      <textarea [(ngModel)]="description" class="ring-1 ring-gray-600 rounded hover:ring-green-900 hover:ring-2" name="description" id="description" cols="30" rows="10" #descriptionControl="ngModel" required></textarea>
      <div *ngIf="isInvalid(descriptionControl)" class="text-red-500">
        Description is mandatory.
      </div>
    </div>

    <button class="bg-green-900 text-white px-12 py-4 rounded-lg font-semibold hover:bg-green-700" type="submit">Valider</button>
  </form>

  @if (result) {
    <!-- For debug purposes only -->
    <div>
      {{ result | json }}
    </div>
  }
</section>
